In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
import plotly.express as px

In [2]:
df=pd.read_csv(r'C:\Users\asmit\Downloads\Algerian_forest_fires_dataset_UPDATE.csv',header=1)

In [3]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [4]:
df.tail()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [5]:
#There is a need to drop rows 122 and 123 as it contains header row and reset the index value
df.drop(df.index[122:124],inplace=True)

df.reset_index()

,index,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire
240,242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire
241,243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
242,244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
243,245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [6]:
df.dtypes

day            object
month          object
year           object
Temperature    object
 RH            object
 Ws            object
Rain           object
FFMC           object
DMC            object
DC             object
ISI            object
BUI            object
FWI            object
Classes        object
dtype: object

In [8]:
df.shape

(244, 14)

In [9]:
df.describe()
##Describe shows the count,unique,top and freq of dataset as all the columns are object here

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
count,244,244,244,244,244,244,244,244,244,244,244,244,244,243
unique,31,4,1,19,62,18,39,173,166,198,106,174,127,8
top,25,07,2012,35,64,14,0,88.9,7.9,8,1.1,3,0.4,fire
freq,8,62,244,29,10,43,133,8,5,5,8,5,12,131

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 245
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          244 non-null    object
 1   month        244 non-null    object
 2   year         244 non-null    object
 3   Temperature  244 non-null    object
 4    RH          244 non-null    object
 5    Ws          244 non-null    object
 6   Rain         244 non-null    object
 7   FFMC         244 non-null    object
 8   DMC          244 non-null    object
 9   DC           244 non-null    object
 10  ISI          244 non-null    object
 11  BUI          244 non-null    object
 12  FWI          244 non-null    object
 13  Classes      243 non-null    object
dtypes: object(14)
memory usage: 28.6+ KB

In [11]:
#numerical and categorical columns

df_num=[features for features in df.columns if df[features].dtype !='O']
df_num

[]

In [12]:
df_cat=[features for features in df.columns if df[features].dtype=='O']
df_cat

['day',
 'month',
 'year',
 'Temperature',
 ' RH',
 ' Ws',
 'Rain ',
 'FFMC',
 'DMC',
 'DC',
 'ISI',
 'BUI',
 'FWI',
 'Classes  ']

In [13]:
#To check the null values
df.isnull().sum()

day            0
month          0
year           0
Temperature    0
 RH            0
 Ws            0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
Classes        1
dtype: int64

In [14]:
df.nunique()

day             31
month            4
year             1
Temperature     19
 RH             62
 Ws             18
Rain            39
FFMC           173
DMC            166
DC             198
ISI            106
BUI            174
FWI            127
Classes          8
dtype: int64

In [15]:
df['Region']=0
df.head()
#We will convert the region as 1 for Bejaia Region Dataset and region as 0 for Sidi-Bel Abbes Region Dataset

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,0
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,0
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,0

In [16]:
for i in range(len(df)):
    if i >=122:
        df['Region'].values[i]=1

In [17]:
df[115:130]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
115,24,09,2012,29,65,19,0.6,68.3,5.5,15.2,1.5,5.8,0.7,not fire,0
116,25,09,2012,26,81,21,5.8,48.6,3,7.7,0.4,3,0.1,not fire,0
117,26,09,2012,31,54,11,0,82,6,16.3,2.5,6.2,1.7,not fire,0
118,27,09,2012,31,66,11,0,85.7,8.3,24.9,4,9,4.1,fire,0
119,28,09,2012,32,47,14,0.7,77.5,7.1,8.8,1.8,6.8,0.9,not fire,0
120,29,09,2012,26,80,16,1.8,47.4,2.9,7.7,0.3,3,0.1,not fire,0
121,30,09,2012,25,78,14,1.4,45,1.9,7.5,0.2,2.4,0.1,not fire,0
124,01,06,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2,not fire,1
125,02,06,2012,30,73,13,4,55.7,2.7,7.8,0.6,2.9,0.2,not fire,1
126,03,06,2012,29,80,14,2,48.7,2.2,7.6,0.3,2.6,0.1,not fire,1
127,04,06,2012,30,64,14,0,79.4,5.2,15.4,2.2,5.6,1,not fire,1
128,05,06,2012,32,60,14,0.2,77.1,6,17.6,1.8,6.5,0.9,not fire,1
129,06,06,2012,35,54,11,0.1,83.7,8.4,26.3,3.1,9.3,3.1,fire,1
130,07,06,2012,35,44,17,0.2,85.6,9.9,28.9,5.4,10.7,6,fire,1
131,08,06,2012,28,51,17,1.3,71.4,7.7,7.4,1.5,7.3,0.8,not fire,1

In [18]:
df["Classes  "].unique()

array(['not fire   ', 'fire   ', 'fire', 'fire ', 'not fire', 'not fire ',
       'not fire     ', nan, 'not fire    '], dtype=object)

In [19]:
df["Classes  "]=df["Classes  "].str.strip(" ")
df["Classes  "] =df["Classes  "].str.lstrip(" ")

In [20]:
df["Classes  "].unique()

array(['not fire', 'fire', nan], dtype=object)

In [21]:
df.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  ', 'Region'],
      dtype='object')

In [22]:
df.set_axis(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI','Classes  ','Region'], axis='columns')

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,0
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,0
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,1
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,1
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,1
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,1
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,1

In [23]:
df.replace('14.6 9','14.7',inplace=True)

In [24]:
df.replace('not fire','notfire',inplace=True)
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,notfire,0
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,notfire,0
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,notfire,0
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,notfire,0
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,notfire,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,1
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,notfire,1
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,notfire,1
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,notfire,1
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,notfire,1

In [25]:
convert_dict={'day':'int64','month':'int64', 'year':'int64', 'Temperature':'int64', ' RH':'int64', ' Ws':'int64', 'Rain ':'float64', 'FFMC':'float64',
       'DMC':'float64', 'DC':'float64', 'ISI':'float64', 'BUI':'float64',}
df=df.astype(convert_dict)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          244 non-null    int64
 1   month        244 non-null    int64
 2   year         244 non-null    int64
 3   Temperature  244 non-null    int64
 4    RH          244 non-null    int64
 5    Ws          244 non-null    int64
 6   Rain         244 non-null    float64
 7   FFMC         244 non-null    float64
 8   DMC          244 non-null    float64
 9   DC           244 non-null    float64
 10  ISI          244 non-null    float64
 11  BUI          244 non-null    float64
 12  FWI          244 non-null    object
 13  Classes      243 non-null    object
 14  Region       244 non-null    int64
dtypes: float64(6), int64(7), object(2)
memory usage: 30.5+ KB

In [59]:
df.drop('FWI',axis=1)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,notfire,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,notfire,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,notfire,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,notfire,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,notfire,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,fire,1
242,27,9,2012,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,notfire,1
243,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,notfire,1
244,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,notfire,1
245,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,notfire,1

In [60]:
df.describe()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,Region
count,244.000000,244.000000,244.0,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000
mean,15.754098,7.500000,2012.0,32.172131,61.938525,15.504098,0.760656,77.887705,14.673361,49.288525,4.774180,16.664754,0.500000
std,8.825059,1.112961,0.0,3.633843,14.884200,2.810178,1.999406,14.337571,12.368039,47.619363,4.175318,14.204824,0.501028
min,1.000000,6.000000,2012.0,22.000000,21.000000,6.000000,0.000000,28.600000,0.700000,6.900000,0.000000,1.100000,0.000000
25%,8.000000,7.000000,2012.0,30.000000,52.000000,14.000000,0.000000,72.075000,5.800000,13.275000,1.400000,6.000000,0.000000
50%,16.000000,7.500000,2012.0,32.000000,63.000000,15.000000,0.000000,83.500000,11.300000,33.100000,3.500000,12.250000,0.500000
75%,23.000000,8.000000,2012.0,35.000000,73.250000,17.000000,0.500000,88.300000,20.750000,68.150000,7.300000,22.525000,1.000000
max,31.000000,9.000000,2012.0,42.000000,90.000000,29.000000,16.800000,96.000000,65.900000,220.400000,19.000000,68.000000,1.000000

In [61]:
#defining a new dataframe as  dataset to perform logistic regression on it 
dataset=df

In [62]:
dataset.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  ', 'Region'],
      dtype='object')

In [63]:
dataset = dataset.drop(['day', 'month', 'year'], axis=1)

In [64]:
dataset.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,notfire,0
1,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,notfire,0
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,notfire,0
3,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0,notfire,0
4,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,notfire,0

In [90]:
dataset.shape

(244, 12)

In [114]:
dataset['Classes  '].unique()

array(['notfire', 'fire', nan], dtype=object)

In [117]:
dataset=dataset.dropna()

In [118]:
dataset.shape

(243, 12)

In [119]:
X=dataset.drop(['Classes  ', 'Region','FWI'],axis=1)
X.head()

   Temperature   RH   Ws  Rain   FFMC  DMC    DC  ISI  BUI
0           29   57   18    0.0  65.7  3.4   7.6  1.3  3.4
1           29   61   13    1.3  64.4  4.1   7.6  1.0  3.9
2           26   82   22   13.1  47.1  2.5   7.1  0.3  2.7
3           25   89   13    2.5  28.6  1.3   6.9  0.0  1.7
4           27   77   16    0.0  64.8  3.0  14.2  1.2  3.9

In [120]:
y=dataset['Classes  ']
y.head()

0    notfire
1    notfire
2    notfire
3    notfire
4    notfire
Name: Classes  , dtype: object

In [121]:
X.shape,y.shape

((243, 9), (243,))

In [122]:
from sklearn.model_selection import train_test_split

In [123]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=10)

In [124]:
X_train.shape,y_train.shape

((162, 9), (162,))

In [125]:
X_test.shape

(81, 9)

In [126]:
####Standardize or feature scaling the datasets

In [127]:
from sklearn.preprocessing import StandardScaler

In [128]:
scaler=StandardScaler()
scaler

StandardScaler()

In [129]:
X_train

     Temperature   RH   Ws  Rain   FFMC   DMC    DC   ISI   BUI
25            31   64   18    0.0  86.8  17.8  71.8   6.7  21.6
121           25   78   14    1.4  45.0   1.9   7.5   0.2   2.4
176           31   71   17    0.0  87.3  46.6  99.0   6.9  46.5
72            35   51   13    0.3  81.3  15.6  75.1   2.5  20.7
188           38   35   15    0.0  93.8  23.0  42.7  15.7  22.9
..           ...  ...  ...    ...   ...   ...   ...   ...   ...
64            34   69   13    0.0  85.0   8.2  19.8   4.0   8.2
15            29   89   13    0.7  36.1   1.7   7.6   0.0   2.2
231           33   26   13    0.0  93.9  21.2  59.2  14.2  22.4
127           30   64   14    0.0  79.4   5.2  15.4   2.2   5.6
9             28   79   12    0.0  73.2   9.5  46.3   1.3  12.6

[162 rows x 9 columns]

In [130]:
X_train.dtypes

Temperature      int64
 RH              int64
 Ws              int64
Rain           float64
FFMC           float64
DMC            float64
DC             float64
ISI            float64
BUI            float64
dtype: object

In [131]:
X_train=scaler.fit_transform(X_train)

In [132]:
X_test=scaler.transform(X_test)

In [133]:
X_train

array([[-0.301121  ,  0.06835876,  0.89673457, ...,  0.49028049,
         0.48086219,  0.38986031],
       [-1.98324518,  0.99672801, -0.58185068, ..., -0.86304801,
        -1.07139989, -1.0010797 ],
       [-0.301121  ,  0.53254338,  0.52708826, ...,  1.0627616 ,
         0.5286241 ,  2.19373563],
       ...,
       [ 0.25958707, -2.45150064, -0.95149699, ...,  0.22508704,
         2.27193383,  0.44781614],
       [-0.58147503,  0.06835876, -0.58185068, ..., -0.69677593,
        -0.59378078, -0.76925637],
       [-1.14218309,  1.0630401 , -1.3211433 , ..., -0.04642055,
        -0.80870938, -0.26214282]])

In [134]:
X_test

array([[-8.61829059e-01,  4.66231295e-01, -5.81850675e-01,
        -4.24064583e-01,  3.74594357e-01, -4.06694465e-01,
        -3.03195163e-01, -3.54971234e-01, -3.70810009e-01],
       [-8.61829059e-01, -9.26322582e-01,  1.26638088e+00,
        -4.24064583e-01,  7.58044470e-01, -2.28559462e-01,
        -3.17928133e-01,  1.05400512e+00, -2.76631780e-01],
       [ 1.10064916e+00, -4.62137956e-01,  1.57441947e-01,
        -4.24064583e-01,  7.77878096e-01,  8.14802699e-01,
         1.80888129e-01,  8.39076521e-01,  5.49238849e-01],
       [-1.70289115e+00,  1.19566428e+00,  2.00567350e+00,
         3.00789995e+00, -1.88643906e+00, -9.49582093e-01,
        -8.58838594e-01, -1.02363798e+00, -9.57612824e-01],
       [-8.61829059e-01,  1.12935219e+00, -5.81850675e-01,
         7.59371462e-01, -1.87982786e+00, -1.01744305e+00,
        -8.60943304e-01, -1.04751893e+00, -9.86590741e-01],
       [ 5.39941097e-01, -3.29513777e-01,  1.57441947e-01,
        -4.24064583e-01,  7.24988426e-01,  1.15410747e+00,
         2.65076527e-01,  6.24147925e-01,  8.31773537e-01],
       [-2.07669653e-02, -1.96889599e-01,  8.96734570e-01,
        -2.46549176e-01, -2.24454621e-03, -2.45524700e-01,
        -3.16875778e-02, -5.93780785e-01, -1.53475633e-01],
       [ 1.10064916e+00, -8.60010492e-01,  1.57441947e-01,
        -4.24064583e-01,  8.43990185e-01,  1.56975581e+00,
         4.73442814e-01,  1.14952894e+00,  1.18675302e+00],
       [ 5.39941097e-01,  4.66231295e-01,  1.57441947e-01,
        -4.24064583e-01,  5.86153040e-01, -1.18285412e-01,
        -4.82095510e-01,  1.70409778e-01, -2.54898342e-01],
       [-2.07669653e-02, -1.05894676e+00, -5.81850675e-01,
        -9.86196704e-03,  2.42002891e-02, -6.01794706e-01,
        -8.35686784e-01, -6.89304605e-01, -6.82322615e-01],
       [ 8.20295128e-01, -3.29513777e-01, -2.06043592e+00,
        -3.05720978e-01,  7.70899598e-02, -2.87937796e-01,
        -6.06273398e-01, -7.37066515e-01, -3.99787926e-01],
       [-2.07669653e-02,  2.04666942e-03, -5.81850675e-01,
        -4.24064583e-01,  6.52265128e-01, -2.79455177e-01,
        -2.42158574e-01,  2.18171689e-01, -2.69387301e-01],
       [ 8.20295128e-01, -1.92100392e+00,  1.57441947e-01,
        -3.05720978e-01,  7.38210843e-01,  2.29501975e-01,
        -7.16770671e-02,  6.71909835e-01,  9.28366593e-02],
       [-3.01120996e-01,  1.06304010e+00, -2.12204364e-01,
        -4.24064583e-01,  5.46485787e-01,  1.21348580e+00,
         1.84150429e+00,  3.24309267e-03,  1.53448802e+00],
       [ 8.20295128e-01, -6.61074224e-01,  5.27088259e-01,
        -1.28205572e-01,  2.02702928e-01,  5.51841504e-01,
         2.11932601e+00, -4.74376009e-01,  1.04186343e+00],
       [ 5.39941097e-01, -6.61074224e-01,  8.96734570e-01,
        -4.24064583e-01,  7.84489305e-01,  6.28185077e-01,
         6.69180840e-01,  1.07788607e+00,  6.94128433e-01],
       [-1.70289115e+00,  1.12935219e+00,  1.57441947e-01,
         6.41027858e-01, -1.96577357e+00, -9.58064712e-01,
        -8.58838594e-01, -1.04751893e+00, -9.57612824e-01],
       [ 1.94171125e+00, -1.98731601e+00,  5.27088259e-01,
        -4.24064583e-01,  1.09521612e+00,  2.46467213e-01,
        -3.45289362e-01,  2.98836248e+00,  4.93697842e-02],
       [-3.01120996e-01,  1.34670848e-01, -5.81850675e-01,
        -4.24064583e-01,  4.86984908e-01, -1.43733270e-01,
         1.21956250e-01, -1.63923593e-01, -3.03194870e-02],
       [-1.14218309e+00,  1.12935219e+00,  2.00567350e+00,
         9.51679820e+00, -1.62860192e+00, -4.66072799e-01,
        -8.37791494e-01, -9.75876066e-01, -5.73655427e-01],
       [ 1.10064916e+00, -1.30577509e-01,  8.96734570e-01,
        -2.46549176e-01,  2.02702928e-01, -2.11594223e-01,
         8.81756547e-01, -4.50495054e-01,  1.00081139e-01],
       [-5.81475027e-01, -5.94762135e-01, -5.81850675e-01,
         1.41026129e+00, -4.38584329e-01, -2.70972558e-01,
        -8.29372654e-01, -8.08709381e-01, -4.14276884e-01],
       [ 8.20295128e-01,  6.83587588e-02,  5.27088259e-01,
        -4.24064583e-01,  6.65487546e-01,  1.50189485e+00,
         2.04566116e+00,  5.04743150e-01,  1.80977823e+00],
       [ 1.94171125e+00,  6.83587588e-02, -2.43008223e+00,
         2.85997044e-01, -2.20414438e-01, -2.11594223e-01,
        -6.86252377e-01, -8.56471291e-01, -3.49076572e-01],
       [-3.01120996e-01,  5.32543384e-01,  5.27088259e-01,
        -2.46549176e-01, -4.98085209e-01, -9.32616855e-01,
        -3.87383562e-01, -7.60947470e-01, -8.05478761e-01],
       [ 1.10064916e+00, -6.42654199e-02,  1.57441947e-01,
        -4.24064583e-01,  7.05154799e-01,  1.95571498e-01,
        -2.94776323e-01,  5.52505060e-01,  1.31473882e-02],
       [-3.01120996e-01, -5.94762135e-01, -1.69078961e+00,
        -4.24064583e-01,  3.21704687e-01, -6.95103517e-01,
        -6.77833537e-01, -5.22137919e-01, -7.25789490e-01],
       [-1.42253712e+00, -2.63201688e-01,  8.96734570e-01,
        -3.64892781e-01,  6.38675421e-02, -4.83038037e-01,
        -7.11508896e-01, -5.46018875e-01, -5.73655427e-01],
       [ 8.20295128e-01,  2.04666942e-03, -5.81850675e-01,
        -2.46549176e-01, -3.53005904e-02, -7.20551375e-01,
        -8.10430265e-01, -7.13185560e-01, -7.76500844e-01],
       [-1.70289115e+00, -9.26322582e-01, -3.53902117e+00,
         7.59371462e-01, -1.04681554e+00, -1.94628985e-01,
        -4.29477761e-01, -9.75876066e-01, -3.12854176e-01],
       [ 2.59587066e-01, -5.94762135e-01, -9.51496987e-01,
        -4.24064583e-01,  7.31599634e-01, -3.64281369e-01,
        -3.78964722e-01,  4.09219329e-01, -3.85298968e-01],
       [-2.07669653e-02, -5.28450045e-01, -5.81850675e-01,
        -4.24064583e-01,  5.99375458e-01, -5.00003276e-01,
        -6.33634628e-01,  7.48859580e-02, -5.80899906e-01],
       [ 1.10064916e+00, -1.32419512e+00, -2.12204364e-01,
         7.00199660e-01,  3.41538313e-01, -4.06694465e-01,
        -8.12534974e-01, -3.54971234e-01, -5.22944072e-01],
       [-3.01120996e-01,  6.83587588e-02, -2.12204364e-01,
        -4.24064583e-01,  6.32431502e-01,  4.71256622e-04,
         3.21903696e-01,  2.42052644e-01,  1.50792493e-01],
       [ 2.59587066e-01,  1.26197637e+00,  2.00567350e+00,
        -4.24064583e-01,  5.13429743e-01,  2.78277035e+00,
         3.19272809e+00, -6.83997726e-02,  3.12102896e+00],
       [-5.81475027e-01,  1.12935219e+00,  1.57441947e-01,
        -1.87377374e-01, -1.14598367e+00, -9.15651616e-01,
        -4.50524861e-01, -9.04233201e-01, -8.05478761e-01],
       [ 5.39941097e-01, -7.93698403e-01,  1.57441947e-01,
         1.82446390e+00,  2.42002891e-02, -5.25451133e-01,
        -8.20953814e-01, -6.41542695e-01, -6.17122302e-01],
       [ 2.59587066e-01, -2.63201688e-01,  1.57441947e-01,
         4.93098352e-02, -1.93969602e-01, -6.10277325e-01,
        -8.46210334e-01, -7.37066515e-01, -6.89567094e-01],
       [ 1.10064916e+00, -6.61074224e-01,  1.26638088e+00,
        -4.24064583e-01,  7.97711723e-01,  2.46467213e-01,
         1.05434276e+00,  1.26893371e+00,  5.56483328e-01],
       [ 1.10064916e+00, -1.19157094e+00, -5.81850675e-01,
        -4.24064583e-01,  1.10146004e-01, -7.96894947e-01,
        -8.06220845e-01, -6.41542695e-01, -8.34456678e-01],
       [ 1.38100319e+00, -5.28450045e-01, -2.12204364e-01,
        -4.24064583e-01,  8.04322932e-01,  1.19652056e+00,
         3.93463835e-01,  8.62957476e-01,  8.75240413e-01],
       [-5.81475027e-01, -1.45681930e+00, -2.12204364e-01,
        -4.24064583e-01,  8.10934140e-01, -7.58723161e-02,
        -5.47341519e-01,  8.86838431e-01, -2.25920425e-01],
       [ 8.20295128e-01, -5.28450045e-01, -5.81850675e-01,
        -4.24064583e-01,  7.77878096e-01,  3.73706501e-01,
         3.89254415e-01,  6.48028880e-01,  4.11593744e-01],
       [-8.61829059e-01, -1.45681930e+00, -2.79972854e+00,
        -3.64892781e-01,  4.47317654e-01,  9.08111510e-01,
         7.89149308e-01, -4.74376009e-01,  9.18707288e-01],
       [ 8.20295128e-01, -2.63201688e-01,  5.27088259e-01,
        -4.24064583e-01,  6.78709964e-01,  5.13669718e-02,
         1.78783419e-01,  5.28624105e-01,  1.21814576e-01],
       [ 1.38100319e+00, -1.72206765e+00, -5.81850675e-01,
        -4.24064583e-01,  1.13488337e+00,  1.84119962e+00,
         8.05986988e-01,  2.70179102e+00,  1.42582083e+00],
       [ 5.39941097e-01, -4.62137956e-01, -2.12204364e-01,
         1.29191768e+00, -1.54302349e-01, -6.01794706e-01,
        -8.20953814e-01, -7.37066515e-01, -6.82322615e-01],
       [ 1.10064916e+00, -9.92634671e-01, -9.51496987e-01,
        -4.24064583e-01,  8.70435020e-01,  6.79080792e-01,
         1.26270905e+00,  9.58481297e-01,  9.54929684e-01],
       [-1.14218309e+00,  2.67295027e-01,  1.26638088e+00,
        -4.24064583e-01, -1.14635096e-01, -9.58064712e-01,
        -6.77833537e-01, -6.41542695e-01, -8.85168032e-01],
       [-5.81475027e-01,  9.96728010e-01, -5.81850675e-01,
        -4.24064583e-01,  2.55592598e-01, -6.69655660e-01,
        -3.55812912e-01, -4.98256964e-01, -5.66410948e-01],
       [-3.01120996e-01,  3.33607116e-01, -5.81850675e-01,
        -4.24064583e-01,  5.46485787e-01, -1.77663746e-01,
        -1.13771266e-01, -2.06378624e-02, -1.46231154e-01],
       [ 2.78277335e+00, -2.58412482e+00, -2.43008223e+00,
        -4.24064583e-01,  1.24727392e+00,  1.36617295e+00,
         5.87097152e-01,  2.63014815e+00,  1.02737448e+00],
       [-3.01120996e-01,  2.67295027e-01, -5.81850675e-01,
        -4.24064583e-01,  3.61371940e-01, -7.12068756e-01,
        -5.53655649e-01, -3.78852189e-01, -6.67833656e-01],
       [-2.07669653e-02, -9.26322582e-01, -1.69078961e+00,
        -4.24064583e-01,  8.10934140e-01, -3.72763988e-01,
        -3.24242263e-01,  5.04743150e-01, -3.56321051e-01],
       [-2.26359921e+00,  1.26197637e+00, -2.12204364e-01,
        -1.87377374e-01, -2.13105379e+00, -1.12771710e+00,
        -8.67257434e-01, -1.07139989e+00, -1.07352449e+00],
       [ 8.20295128e-01, -1.65575556e+00, -2.12204364e-01,
        -4.24064583e-01,  9.89436779e-01,  3.14752298e+00,
         2.08775536e+00,  1.79431473e+00,  2.80227188e+00],
       [ 1.10064916e+00, -5.28450045e-01, -2.12204364e-01,
        -4.24064583e-01,  7.91100514e-01,  5.68806742e-01,
        -1.09561846e-01,  7.91314611e-01,  3.31904473e-01],
       [ 5.39941097e-01, -3.29513777e-01, -9.51496987e-01,
        -3.05720978e-01,  1.56424466e-01,  3.82189120e-01,
         8.31243508e-01, -6.17661740e-01,  5.92705724e-01],
       [-1.14218309e+00,  1.79247308e+00, -2.12204364e-01,
        -4.24064583e-01, -6.83199056e-01, -5.93312087e-01,
        -7.11508896e-01, -8.32590336e-01, -6.60589177e-01],
       [ 2.59587066e-01,  1.34670848e-01, -2.12204364e-01,
        -3.64892781e-01,  2.82037434e-01, -1.60698508e-01,
         2.86123627e-01, -4.50495054e-01,  2.03918674e-02],
       [-2.07669653e-02,  6.65167563e-01, -2.12204364e-01,
        -4.24064583e-01,  6.25820293e-01,  1.06079866e+00,
         1.65208039e+00,  2.18171689e-01,  1.36062052e+00],
       [-8.61829059e-01, -1.30577509e-01, -9.51496987e-01,
         3.45168846e-01, -8.41868068e-01, -8.56273282e-01,
        -8.60943304e-01, -8.80352246e-01, -8.92412512e-01],
       [-1.70289115e+00,  1.26197637e+00,  2.37531982e+00,
         7.32744151e+00, -1.98560720e+00, -9.91995189e-01,
        -8.71466853e-01, -1.04751893e+00, -9.79346262e-01],
       [ 1.38100319e+00, -1.72206765e+00, -9.51496987e-01,
        -4.24064583e-01,  1.01588161e+00,  1.10321175e+00,
         8.19667603e-02,  1.67490995e+00,  7.88306662e-01],
       [ 1.10064916e+00, -5.94762135e-01, -5.81850675e-01,
        -4.24064583e-01,  9.16713482e-01,  4.38598538e+00,
         2.71074951e+00,  1.26893371e+00,  3.75129865e+00],
       [-8.61829059e-01,  1.65984890e+00, -9.51496987e-01,
        -4.24064583e-01, -4.05528285e-01, -9.83512570e-01,
        -6.71519407e-01, -8.32590336e-01, -9.06901470e-01],
       [-1.42253712e+00,  2.00982937e-01,  2.37531982e+00,
        -1.87377374e-01, -5.90642132e-01, -3.13385653e-01,
         4.79756943e-01, -6.89304605e-01, -5.92974038e-02],
       [-3.01120996e-01,  3.99919206e-01,  5.27088259e-01,
         2.35701012e+00, -9.87314662e-01, -8.73238520e-01,
        -8.52524464e-01, -8.56471291e-01, -8.99656991e-01],
       [ 1.10064916e+00, -1.32419512e+00,  1.57441947e-01,
        -4.24064583e-01,  9.29935899e-01,  2.70642678e+00,
         1.87728436e+00,  1.62714804e+00,  2.46178136e+00],
       [-2.07669653e-02,  8.64103831e-01,  1.63602719e+00,
        -9.86196704e-03, -9.27813783e-01, -9.83512570e-01,
        -8.27267944e-01, -8.08709381e-01, -9.57612824e-01],
       [-1.14218309e+00,  1.39460055e+00,  8.96734570e-01,
        -4.24064583e-01,  4.40706446e-01, -5.89070777e-02,
         1.67207514e-02, -4.45188175e-02, -1.58305286e-02],
       [-5.81475027e-01,  6.65167563e-01, -2.12204364e-01,
        -4.24064583e-01,  6.25820293e-01, -1.77663746e-01,
        -2.14797345e-01,  2.18171689e-01, -1.96942509e-01],
       [-2.26359921e+00,  6.83587588e-02, -2.12204364e-01,
        -3.05720978e-01, -6.50143012e-01, -8.81721139e-01,
        -6.73624117e-01, -8.32590336e-01, -8.27212199e-01],
       [ 2.59587066e-01,  3.99919206e-01, -9.51496987e-01,
        -9.86196704e-03, -6.96421474e-01, -6.95103517e-01,
        -8.25163234e-01, -8.56471291e-01, -7.54767407e-01],
       [ 1.10064916e+00, -6.61074224e-01,  1.57441947e-01,
        -4.24064583e-01,  8.17545349e-01,  1.98540415e+00,
         2.37820533e+00,  1.36445753e+00,  2.26618042e+00],
       [ 2.59587066e-01,  3.33607116e-01, -2.12204364e-01,
        -4.24064583e-01,  5.92764249e-01,  8.23285318e-01,
         6.51290806e-02,  1.22647868e-01,  5.56483328e-01],
       [ 8.20295128e-01, -5.94762135e-01, -1.69078961e+00,
        -3.64892781e-01,  4.34095237e-01, -4.91520657e-01,
        -4.67362540e-01, -3.78852189e-01, -5.01210635e-01],
       [-2.26359921e+00, -5.94762135e-01,  8.96734570e-01,
        -3.64892781e-01,  1.69646883e-01, -8.39308043e-01,
        -7.00985346e-01, -7.13185560e-01, -8.05478761e-01],
       [ 2.59587066e-01, -1.72206765e+00,  1.57441947e-01,
        -4.24064583e-01,  9.96047988e-01,  3.99578490e+00,
         2.49817380e+00,  2.00924332e+00,  3.46151949e+00],
       [-5.81475027e-01,  9.30415920e-01,  2.00567350e+00,
         6.41027858e-01, -1.23192939e+00, -1.04289090e+00,
        -8.44105624e-01, -8.56471291e-01, -1.00107970e+00],
       [ 1.10064916e+00, -5.94762135e-01,  8.96734570e-01,
        -4.24064583e-01,  8.10934140e-01,  4.92463170e-01,
         1.31322209e+00,  1.19729085e+00,  8.17284579e-01]])

# Model_training

In [135]:
from sklearn.linear_model import LogisticRegression

In [138]:
log_reg=LogisticRegression()
log_reg

LogisticRegression()

In [139]:
log_reg.fit(X_train,y_train)

LogisticRegression()

In [141]:
##print the coefficient and intercept

log_reg.coef_

array([[-0.07473927, -0.1698056 ,  0.05039843, -0.16128449, -2.58942849,
        -0.18902098,  0.21238807, -3.04375963, -0.47368771]])

In [142]:
log_reg.intercept_

array([-0.66605455])

In [143]:
##Prediction for the test data
log_reg_pred=regression.predict(X_test)

In [144]:
log_reg_pred

array(['fire', 'fire', 'fire', 'notfire', 'notfire', 'fire', 'notfire',
       'fire', 'fire', 'notfire', 'notfire', 'fire', 'fire', 'fire',
       'notfire', 'fire', 'notfire', 'fire', 'fire', 'notfire', 'notfire',
       'notfire', 'fire', 'notfire', 'notfire', 'fire', 'notfire',
       'notfire', 'notfire', 'notfire', 'fire', 'fire', 'fire', 'fire',
       'fire', 'notfire', 'notfire', 'notfire', 'fire', 'notfire', 'fire',
       'fire', 'fire', 'fire', 'fire', 'fire', 'notfire', 'fire',
       'notfire', 'notfire', 'fire', 'fire', 'fire', 'fire', 'notfire',
       'fire', 'fire', 'notfire', 'notfire', 'notfire', 'fire', 'notfire',
       'notfire', 'fire', 'fire', 'notfire', 'notfire', 'notfire', 'fire',
       'notfire', 'fire', 'fire', 'notfire', 'notfire', 'fire', 'fire',
       'fire', 'notfire', 'fire', 'notfire', 'fire'], dtype=object)

In [146]:
log_reg_pred.shape

(81,)

# Accuracy

In [148]:
from sklearn.metrics import accuracy_score

In [150]:
accuracy_score(y_test,log_reg_pred)

0.9506172839506173

# Confusion Matrix

In [161]:

from sklearn import metrics

In [162]:
cm = metrics.confusion_matrix(y_test,log_reg_pred)###to find confusion matrix

In [163]:
print(cm)

[[44  4]
 [ 0 33]]

In [165]:
true_positive=cm[0][0]
false_positive=cm[0][1]
false_negative=cm[1][0]
true_negative=cm[1][1]

Precision

In [167]:
Precision=true_positive/(true_positive+false_positive)
Precision

0.9166666666666666

Recall

In [169]:
Recall=true_positive/(true_positive+false_negative)
Recall

1.0

F1_score

In [172]:
F1_score=2*(Recall*Precision)/(Recall+Precision)
F1_score

0.9565217391304348

In [173]:
# Breaking down the formula for Accuracy
Accuracy = (true_positive + true_negative) / (true_positive +false_positive + false_negative + true_negative)
Accuracy

0.9506172839506173